*{
    margin: 0px;
    padding: 0px;
}
.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(5, 47, 86);
    color: white;
    height: 43px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
